<section class="text-white full-width">
  <div class="container mx-auto">
    <h1>Hero Section</h1>
  </div>
</section>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
